.require {
    color: #666;
}
label small {
    color: #999;
    font-weight: normal;
}
.form-control
{
    background-color: rgba(255,255,255,0.3)  !important;
}
.form_text
{
    font-weight: bold;
}

.file-field.medium .file-path-wrapper {
    height: 3rem; }
    .file-field.medium .file-path-wrapper .file-path {
    height: 2.8rem; }
    
    .file-field.big-2 .file-path-wrapper {
    height: 3.7rem; }
    .file-field.big-2 .file-path-wrapper .file-path {
    height: 3.5rem; }