body{
  background: -webkit-linear-gradient(left, #acb6e5, #86fde8)!important;
  margin: 0%  !important;
  padding: 0%  !important;
  box-sizing: border-box;
}

hr {
  border:none;
  height: 20px;
	width: 85%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #0dc49c;
  margin: -50px auto 10px; 
}